<div class="progress-box">
    <mat-spinner mode="determinate" value="{{progressValue}}"></mat-spinner>
    <h2>{{ totalTimeLeft }} seconds left!</h2>
    <button mat-raised-button color="primary" (click)="startWorkout()">Start workout</button>
</div>

<mat-vertical-stepper linear #stepper>
    <div *ngFor="let oefening of workoutPlan.Oefeningen">
        <mat-step label="{{oefening.naam}}" editable="false" optional="false" completed="false">
            <mat-card>
                <mat-card-title
                    matBadge="{{ timeLeftCurrentExercise }}s"
                    matBadgeColor="accent"
                    *ngIf="!isResting">{{oefening.titel}}</mat-card-title>
                <mat-card-content 
                    *ngIf="!isResting">{{oefening.beschrijving}}</mat-card-content>

                <mat-card-title 
                    matBadge="{{ timeLeftForRest }}s"
                    matBadgeColor="accent"
                    *ngIf="isResting">
                    A quick break!</mat-card-title>
                <mat-card-content *ngIf="isResting">Take a breather, next exercise coming up soon!</mat-card-content>
            </mat-card>
        </mat-step>
    </div>
</mat-vertical-stepper>